<ul class="tabs--primary nav nav-tabs">
  <li >
    <a href="/objects/edit/{{object_id}}/journal_nadzora">Основная информация</a>
  </li>
  <li class="active">
    <a href="/objects/edit/{{object_id}}/journal_nadzora/sostav">Состав рабочей группы</a>
  </li>
  <li>
    <a href="/objects/edit/{{object_id}}/journal_nadzora/nadzor_predstaviteli">Регистрация представителей авторского надзора</a>
  </li>
  <li>
    <a href="/objects/edit/{{object_id}}/journal_nadzora/uchetniy_list">Учетный лист журнала авторского надзора</a>
  </li>
</ul>
